@charset "UTF-8";
/* Titulos */
/* Subtitulos */
/* CSS RESET */
* {
  margin: 0;
  padding: 0;
}

/* CSS GENERALES TRANSVERSALES */
body {
  background-color: #e9edc9;
  font-family: "Noto Sans", sans-serif;
}

main {
  margin: auto;
  padding: auto;
}

h1 {
  text-align: center;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  background-color: #ccd5ae;
  font-size: 23px;
  font-weight: bold;
}

h2 {
  background-color: #003e1f;
  color: white;
  text-align: left;
  padding: 10px;
  font-weight: bold;
  font-size: 15px;
}

h4 {
  background-color: #003e1f;
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.textoPrincipal {
  text-align: center;
  font-size: 18px;
  padding: 10px;
  margin: 5px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.logo {
  width: 230px;
  cursor: pointer;
  grid-area: logo;
}

.btnRevervarCotizar {
  background-color: #55a630;
  color: white;
  margin: 10px;
  padding: 10px 10px;
  border-radius: 6px;
  border-color: #55a630;
  font-size: 13px;
  cursor: pointer;
  transition: all 1s;
}
.btnRevervarCotizar:hover {
  background-color: #aacc00;
  border-color: #aacc00;
  height: 40px;
  width: 170px;
}

.navbar-toggler {
  background-color: white;
}

.card-title {
  color: white;
}

/* CSS HEADER */
header {
  display: grid;
  grid-template-areas: "logo contacto" "logo menuprincipal";
  padding: 20px;
  margin: auto;
  background-color: #003e1f;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  text-align: center;
}
header p {
  background-color: #003e1f;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
  grid-area: menuprincipal;
}

.contenedorTelefonosPrincipal {
  color: white;
  text-align: right;
  font-size: 14px;
  grid-area: contacto;
}

.menNav a {
  text-transform: uppercase;
  font-size: 12px;
  color: white;
  text-align: center;
  font-weight: bold;
}

/* CSS FOOTER */
footer {
  margin: auto;
  padding: 5px;
  font-size: x-small;
  background-color: #003e1f;
}

.contenedorFooter {
  display: inline-block;
  font-size: 10px;
}

.contenedorFooterInfo {
  width: auto;
  height: auto;
  margin: 10px;
  padding: 10px;
  font-size: 11px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.contenedorFooterLogo {
  border-top: #6b705c 2px solid;
  border-bottom: #6b705c 2px solid;
  width: auto;
}

.contendedorDerechosReservados {
  color: white;
  text-align: center;
  font-size: 10px;
}

/* CSS BANNER PRINCIPAL NOSOTROS */
.contenedorSlider {
  width: auto;
  height: auto;
  overflow: hidden;
}
.contenedorSlider ul {
  display: flex;
  animation: cambio 5s infinite;
}
.contenedorSlider li {
  list-style: none;
  width: 100px;
}
.contenedorSlider img {
  height: calc(100vh - 100px);
}

.contenedorBannerPrincipalImg {
  border-top: 2px solid #283618;
  border-radius: 4px;
  height: 180px;
  width: 500px;
  margin: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #283618;
  color: #fffcf2;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  opacity: 95%;
  max-width: 90%;
}

@keyframes cambio {
  0% {
    margin-left: 300%;
  }
  25% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
/* CSS NOSOTROS */
.contenedorServiciosHomePrincipal {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contenedorServiciosHome {
  border: 4px solid #003e1f;
  border-radius: 4px;
  margin: 30px;
  padding: 1px;
  text-align: center;
}
.contenedorServiciosHome p {
  color: #343a40;
  text-align: left;
  padding: 10px;
  font-size: 13px;
}

.contenedorServiciosHomeImg {
  display: block;
  width: 100%;
  height: auto;
}
.contenedorServiciosHomeImg:hover {
  background-color: #aacc00;
  border-color: #aacc00;
  margin: rgba(0, 0, 0, 0);
}

/* CSS SERVICIOS */
.contenedorServiciosPrincipal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.contenedorServicios {
  border: 1px solid #bec8c3;
  border-radius: 10px;
  margin: 30px;
  padding: 1px;
  text-align: center;
  width: auto;
  height: auto;
}
.contenedorServicios p {
  color: #343a40;
  text-align: left;
  padding: 10px;
  font-size: 13px;
}

.contenedorServiciosImg {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.row {
  height: 100%;
}

.textoOnepiece {
  flex: 1;
  padding: 20px;
}

.texto {
  color: white;
  text-align: left;
}

/* CSS PLANES */
.contenedorPlanesPrincipal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.contenedorPlanes {
  border: 4px solid #003e1f;
  border-radius: 4px;
  margin: 30px;
  padding: 1px;
  text-align: center;
  width: 350px;
  height: 430px;
}
.contenedorPlanes p {
  color: #343a40;
  text-align: left;
  padding: 5px;
  font-size: 13px;
}

.contenedorPlanesImg {
  display: block;
  width: 100%;
  height: auto;
}

/* CSS VEHÍCULOS */
.contenedorVehiculosPrincipal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.contenedorVehiculos {
  border: 4px solid #003e1f;
  border-radius: 4px;
  width: 350px;
  margin: 30px;
  padding: 1px;
  text-align: center;
}
.contenedorVehiculos p {
  color: #343a40;
  text-align: left;
  padding: 10px;
  font-size: 13px;
}

.contenedorVehiculosImg {
  display: block;
  width: 100%;
  height: auto;
}

/* CSS RESERVAS - FORMULARIO DE CONTACTO */
.contenedorFormularioPrincipal {
  display: grid;
  grid-template-areas: "formulario formularioContacto" "formulario formularioTelefonos" "formulario formularioEmail" "formulario formularioMapa";
  grid-template-columns: 2fr 1fr;
}

form {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 25px;
  padding: 20px;
  grid-area: formulario;
}

label {
  font-size: 15px;
  font-weight: bold;
  color: #343a40;
}

.contenedorFormularioCampos {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #6b705c;
  border-radius: 10px;
  font-size: 12px;
}
.contenedorFormularioCampos:focus {
  background-color: #e5e6e4;
}

.btnFormularioRevervarCotizar {
  background-color: #003e1f;
  color: white;
  margin: 10px;
  padding: 10px 10px;
  border-radius: 5px;
  border-color: #003e1f;
  font-size: 12px;
  width: auto;
  cursor: pointer;
  display: inline;
  background-image: linear-gradient(to bottom, #003e1f, #03703a);
}

.contenedorFormularioContacto {
  border-top: #6b705c 2px dotted;
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
  padding: 10px;
  align-self: self-end;
  grid-area: formularioContacto;
}

.contenedorFormularioTelefonos {
  border-top: #6b705c 2px dotted;
  border-bottom: #6b705c 2px dotted;
  margin-right: 50px;
  margin-left: 50px;
  padding: 10px;
  align-self: first baseline;
  grid-area: formularioTelefonos;
}

iframe {
  margin-right: 50px;
  margin-left: 70px;
  padding: 10px;
  align-self: center;
  grid-area: formularioMapa;
}

/* CSS WHATSAPP */
.whatsapp {
  width: 100px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

/* RESPONSIVE (MEDIAS QUERIES) */
@media (min-width: 320px) and (max-width: 900px) {
  nav ul li {
    list-style-type: none;
    display: block;
    margin-right: 5px;
    font-size: 10px;
    text-align: right;
  }
  .logo {
    width: 180px;
    cursor: pointer;
  }
  .contenedorFooterLogo {
    height: auto;
  }
  .contenedorTelefonosPrincipal {
    display: none;
  }
  .contenedorBannerPrincipalImg {
    display: none;
  }
  .contenedorServiciosHomePrincipal, .contenedorFormularioPrincipal {
    flex-wrap: wrap;
  }
  form {
    flex-direction: column;
    border: none;
  }
  .contenedorFormularioCampos {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .contenedorFormularioContacto, .contenedorFormularioTelefonos, iframe, .footerMenu {
    display: none;
  }
  .contenedorFooterInfo {
    display: block;
  }
  header {
    display: block;
  }
}
@media (min-width: 901px) and (max-width: 990px) {
  nav ul li {
    list-style-type: none;
    display: block;
    margin-right: 5px;
    font-size: 10px;
    text-align: right;
  }
  .logo {
    width: 180px;
    cursor: pointer;
  }
  .contenedorFooterLogo {
    height: auto;
  }
  .contenedorTelefonosPrincipal {
    display: none;
  }
  .contenedorBannerPrincipalImg {
    display: none;
  }
  .contenedorServiciosHomePrincipal, .contenedorFormularioPrincipal {
    flex-wrap: wrap;
  }
  form {
    flex-direction: column;
    border: none;
  }
  .contenedorFormularioCampos {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .contenedorFormularioContacto, .contenedorFormularioTelefonos, iframe, .footerMenu {
    display: none;
  }
  .contenedorFooterInfo {
    display: block;
  }
  header {
    display: block;
  }
}

/*# sourceMappingURL=estilos.css.map */
